@using Coditech.Admin.Utilities;
@model DBTMSubscriptionPlanActivityViewModel
@{
    Layout = null;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<!-- Page Content-->
<div class="modal-header">
    @if (Model.DBTMSubscriptionPlanActivityId > 0)
    {
        <h6 class="modal-title m-0" id="exampleModalDefaultLabel">UnAssociate Plan Activity From Test</h6>
    }
    else
    {
        <h6 class="modal-title m-0" id="exampleModalDefaultLabel">Associate Plan Activity To Test</h6>
    }
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div><!--end modal-header-->
@using (Html.BeginForm("AssociateUnAssociatePlanActivity", controllerName, FormMethod.Post, new { id = "frmAssociateUnAssociatePlanActivity" }))
{
    @Html.AntiForgeryToken()
    ;
    @Html.HiddenFor(x => x.DBTMSubscriptionPlanActivityId)
    @Html.HiddenFor(x => x.DBTMTestMasterId)
    @Html.HiddenFor(x => x.DBTMSubscriptionPlanId)
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-3">
                    @if (Model.DBTMSubscriptionPlanActivityId > 0)
                    {
                        <span>
                            Are you sure that you want to unassociate <span class="font-15"> @Model.TestName</span> Test from <span class="font-15">@Model.PlanName Plan</span>?
                        </span>
                    }
                    else
                    {
                        <span>
                            Are you sure that you want to associate <span class="font-15">
                                @Model.TestName Test
                            </span> to <span class="font-15">
                                @Model.PlanName Plan
                            </span>?
                        </span>
                    }
                </div>
            </div>
        </div><!--end row-->
    </div>

    <!--end modal-body-->
    <div class="modal-footer">
        <button type="submit" id="saveDraft" class="btn btn-success" data-test-selector="linkSave" onclick="DBTMSubscriptionPlanActivity.AssociateUnAssociatePlanActivity(); return false;">@AdminResources.LabelSave</button>
        <button type="button" class="btn btn-soft-secondary btn-sm" data-bs-dismiss="modal">Close</button>
    </div>
}
@Html.Partial("_ValidationScriptsPartial")
