@model AccGLTransactionListViewModel
@{
    ViewBag.Title = "Trnsaction List";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    DropdownViewModel financialYearDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.FinancialYear.ToString(), DropdownName = "SelectedParameter2", DropdownSelectedValue = Model.SelectedParameter2.ToString(), Parameter = Model.SelectedParameter1, ChangeEvent = "CoditechCommon.LoadListByCentreCodeAndDepartmentId('" + @controllerName + "','" + @actionName + "')" };
    DropdownViewModel accSetupTransactionType = new DropdownViewModel() { DropdownType = DropdownTypeEnum.AccSetupTransactionType.ToString(), DropdownName = "SelectedParameter3", DropdownSelectedValue = Model.SelectedParameter3.ToString(), ChangeEvent = "CoditechCommon.LoadListByBalanceSheet('" + @controllerName + "','" + @actionName + "')" };
    DropdownViewModel centreDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.AccessibleCentre.ToString(), DropdownName = "SelectedCentreCode", DropdownSelectedValue = Model.SelectedCentreCode, ChangeEvent = "AccSetupGL.GetAccSetupBalanceSheetByCentreCodeAndTypeId()" };
    DropdownViewModel accSetupBalanceSheetTypeDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.AccSetupBalanceSheetType.ToString(), DropdownName = "AccSetupBalanceSheetTypeId", DropdownSelectedValue = Model.SelectedParameter4.ToString(), ChangeEvent = "AccSetupGL.GetAccSetupBalanceSheetByCentreCodeAndTypeId()" };
    DropdownViewModel accSetupBalanceSheetDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.AccSetupBalanceSheet.ToString(), DropdownName = "AccSetupBalanceSheetId", DropdownSelectedValue = Model.SelectedParameter1.ToString(), Parameter = !string.IsNullOrEmpty(Model.SelectedCentreCode) ? $"{Model.SelectedCentreCode}~{Model.SelectedParameter4}" : "", ChangeEvent = "AccSetupGL.GetAccSetupGLTree()" };

}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">Account Balance Sheet List</span>
                        <a class=" btn btn-sm btn-soft-primary float-end" href="/@controllerName/Create" role="button"><i class="fas fa-plus me-2"></i>Add Balance Sheet</a>
                    </div>
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-1">
                                <label>@AdminResources.LabelAccSetupBalanceSheet</label>
                            </div>
                            <div class="col-md-3">
                                @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", accSetupBalanceSheetDropdown)
                            </div>
                            <div class="col-md-1">
                                <label>@AdminResources.LabelAccSetupTransactionType</label>
                            </div>
                            <div class="col-md-3">
                                @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", accSetupTransactionType)
                            </div>
                            <div class="col-md-1">
                                <label>@AdminResources.LabelFinancialYearList</label>
                            </div>
                            <div class="col-md-3">
                                @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", financialYearDropdown)
                            </div>
                            <div class="col-md-1">
                                <label>@AdminResources.LabelCentre</label>
                            </div>
                            <div class="col-md-3">
                                @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", centreDropdown)
                            </div>
                            <div class="col-md-1">
                                <label>Balance Sheet Type</label>
                                <div class="col-md-2">
                                    @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", accSetupBalanceSheetTypeDropdown)
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label>Balance Sheet</label>
                            </div>
                            <div class="col-md-1">
                                <input type="button" class="btn btn-success" value="Show" id="ShowDataId" onclick="CoditechCommon.LoadListByCentreCodeAndDepartmentId('@controllerName','@actionName')" />
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="DataTablesDivId" class="dataTables_wrapper dt-bootstrap5 no-footer">
                            @Html.Partial("~/Views/Accounts/AccSetupBalanceSheet/_List.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end page content -->