@model EmployeeMasterListViewModel
@{
    Layout = null;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
}
<div class="row">
    @Html.Partial("~/Views/Shared/Datatable/_DatatableShowResult.cshtml", Model.PageListViewModel.RecordPerPage)
    @Html.Partial("~/Views/Shared/Datatable/_DatatableSearchData.cshtml", Model.PageListViewModel.SearchBy)
</div>
<div class="row">
    <div class="col-sm-12 table-responsive">
        <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">
            @Html.Partial("~/Views/Shared/Datatable/_DatatableColumns.cshtml", Model.PageListViewModel)
            <tbody>
                @if (Model?.EmployeeMasterList?.Count > 0)
                {
                    foreach (var item in Model?.EmployeeMasterList)
                    {
                        <tr>
                            <td style="text-align: center; width: 0px">
                                @if (!string.IsNullOrEmpty(item.ImagePath))
                                {
                                    <img src="@item.ImagePath" class="rounded-circle thumb-xs me-1" />
                                }
                                else
                                {
                                    <div class="avatar-box thumb-md align-self-center">
                                        <span class="avatar-title bg-soft-pink rounded-circle">@item.FirstName.Substring(0, 1)@item.LastName.Substring(0, 1)</span>
                                    </div>
                                }
                            </td>
                            <td>@item.PersonCode</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Gender</td>
                            <td>@item.MobileNumber</td>
                            <td>@item.EmailId</td>
                            <td>@item.SanctionPostName</td>
                            <td>
                                @Html.Partial("~/Views/Shared/Datatable/_DatatableTrueFalse.cshtml", item.IsActive)
                            </td>
                            <td class="text-center">
                                <a href="../@controllerName/UpdateEmployeePersonalDetails?employeeId=@item.EmployeeId&personId=@item.PersonId" title="Update" class="btn btn-sm btn-soft-success btn-circle"><i class="fas fa-edit"></i></a>@* <span class="m-2">|</span> *@
                                @* <a href="../@controllerName/Delete?employeeIds=@item.EmployeeId" title="Delete" class="btn btn-sm btn-soft-danger btn-circle"><i class="fas fa-trash-alt"></i></a> *@
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@Html.Partial("~/Views/Shared/Datatable/_DatatablePagination.cshtml", Model.PageListViewModel)
