@using Coditech.Admin.Utilities;
@model OrganisationCentrewiseJoiningCodeViewModel
@{
    Layout = null;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    Dictionary<string, string> keyValuePairs = new Dictionary<string, string>();
    keyValuePairs.Add("JoiningCode", Model.JoiningCode);
}

<div class="modal-header">
    <h6 class="modal-title m-0" id="exampleModalDefaultLabel">Joining Code: @Model.JoiningCode </h6>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

@using (Html.BeginForm("GetOrganisationCentrewiseJoiningCodeSend", controllerName, FormMethod.Post, new { id = "frmSendDetails" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.JoiningCode)
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-9">
                <div class="mb-3">
                    @Html.LabelFor(x => x.EmailId, new { @class = "form-label " })
                    @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control", onkeypress = "return CoditechCommon.AvoidSpacing()" })
                    @Html.ValidationMessageFor(x => x.EmailId)
                </div>
            </div>
            <div class="col-lg-3" id="EmailIdSendOTPDivId">
                <div class="mb-3">
                    <label class="form-label">&nbsp;</label>
                    <div class="form-check" style="padding-left:0px !important; display:block !important">
                        <button type="button" class="btn btn-success" onclick="OrganisationCentrewiseJoiningCode.SendJoiningCode('email')">Send</button>
                    </div>
                </div>
            </div>
            <!-- OR Separator -->
            <div class="col-12 d-flex justify-content-center">
                <div class="separator">
                    <span>    OR    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-3">
                    @Html.LabelFor(x => x.CallingCode, new { @class = "form-label" })
                    @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
           {
               DropdownType = DropdownTypeEnum.CallingCode.ToString(),
               DropdownName = "CallingCode",
               DropdownSelectedValue = Model.CallingCode,
               IsRequired = true
           })
                    @Html.ValidationMessageFor(x => x.CallingCode)
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    @Html.LabelFor(x => x.MobileNumber, new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control", onkeypress = "return CoditechCommon.ValidNumeric()" })
                    @Html.ValidationMessageFor(x => x.MobileNumber)
                </div>
            </div>
            <div class="col-lg-3" id="MobileNumberSendOTPDivId">
                <div class="mb-3">
                    <label class="form-label">&nbsp;</label>
                    <div class="form-check" style="padding-left:0px !important; display:block !important">
                        <button type="button" class="btn btn-success" onclick="OrganisationCentrewiseJoiningCode.SendJoiningCode('mobile')">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer d-flex justify-content-end">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
}
@Html.Partial("_ValidationScriptsPartial")
@section scripts {
    <!-- end page content -->
    <script src="~/js/coditech/Organisation/OrganisationCentrewiseJoiningCode.js"></script>
}
