@model DBTMDeviceRegistrationDetailsViewModel
@{
    ViewBag.Title = Model.DBTMDeviceRegistrationDetailId > 0 ? "Update Registration Details" : "Add Registration Details";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                @if (Model.DBTMDeviceRegistrationDetailId > 0)
                                {
                                    <h4 class="card-title">Update Registration Details></h4>
                                }
                                else
                                {
                                    <h4 class="card-title">Add Registration Details</h4>
                                }
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.DBTMDeviceRegistrationDetailId)
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.DBTMDeviceMasterId, new { @class = "form-label" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
                               {
                                   DropdownType = DropdownCustomTypeEnum.DBTMDeviceRegistrationDetails.ToString(),
                                   DropdownName = "DBTMDeviceMasterId",
                                   DropdownSelectedValue = Model.DBTMDeviceMasterId.ToString(),
                                   IsCustomDropdown = true
                               })
                                        @Html.ValidationMessageFor(x => x.DBTMDeviceMasterId, null)
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.PurchaseDate, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.PurchaseDate, AdminGeneralHelper.DateFormatForTextBox(), new { @class = "form-control", @readonly = "true" })
                                        @Html.ValidationMessageFor(x => x.PurchaseDate)
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                            <a href="../@controllerName/List" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/layout/daterangepicker.js"></script>

@section scripts {
    <script type="text/javascript">
        $(function () {
            var today = new Date();
            var twoYearsAgo = new Date();
            twoYearsAgo.setFullYear(today.getFullYear() - 2);

            $("#RegistrationDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "@AdminGeneralHelper.DateFormatForCalendar()",
                language: "en",
                autoSize: true,
                gotoCurrent: true,
                clearBtn: true,
                showButtonPanel: true,
                closeText: 'Clear',
                onClose: function (dateText, inst) {
                    if ($(window.event.srcElement).hasClass('ui-datepicker-close')) {
                        document.getElementById(this.id).value = '';
                    }
                },
                minDate: twoYearsAgo, // Set minimum date to two years ago
                maxDate: today,       // Set maximum date to today
            });
        });
    </script>
}











