@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string dashboardUrl = CoditechAdminSettings.DashboardUrl;
}
<div class="container login-page-wrapper">
    <div class="row vh-100 d-flex justify-content-center">
        <div class="col-12 align-self-center">
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="card">
                        @*  <div class="card-body p-0 auth-header-box">
                        <div class="text-center p-3">
                        <h4 class="fw-semibold text-white font-18">Change Password</h4>
                        </div>
                        </div> *@
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="card-title">Change Password</h4>
                                </div><!--end col-->
                            </div> <!--end row-->
                        </div>
                        <div class="card-body p-0 auth-content">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active p-3" id="LogIn_Tab" role="tabpanel">
                                    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group mb-2">
                                            @Html.LabelFor(x => x.CurrentPassword, new { @class = "form-label required" })
                                            <div class="input-group">
                                                @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.CurrentPassword, null)
                                        </div>
                                        <div class="form-group mb-2">
                                            @Html.LabelFor(x => x.NewPassword, new { @class = "form-label required" })
                                            <div class="input-group">
                                                @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.NewPassword, null)
                                        </div>
                                        <div class="form-group mb-2">
                                            @Html.LabelFor(x => x.ConfirmPassword, new { @class = "form-label required" })
                                            <div class="input-group password-input-wraper">
                                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control password-input", type = "Password", placeholder = "Confirm Password here..." })
                                                <i class="fas fa-eye view-password"></i>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, null)
                                            @Html.ValidationMessageFor(m => m.ErrorMessage, null)
                                        </div>
                                        <div class="form-group row my-3">
                                        </div>
                                        <div class="form-group mb-0 row">
                                            <div class="col-12">
                                                <button class="btn btn-primary w-100 waves-effect waves-light">Change Password<i class="fas fa-sign-in-alt ms-1"></i></button>
                                                <a href="..@dashboardUrl" class="btn btn-secondary w-100 waves-effect waves-light mt-2"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".view-password").click(function () {
                $(this).toggleClass("fa fa-eye-slash");
                var inputAttribute = $('.password-input');
                if (inputAttribute.attr("type") == "password") {
                    inputAttribute.attr("type", "text");
                } else {
                    inputAttribute.attr("type", "password");
                }
            });
        });
    </script>
}