@model OrganisationCentrewiseGSTCredentialViewModel
@{
    ViewBag.Title = "Organisation Centrewise GST Credential";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
}
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            @if (Model.OrganisationCentreMasterId > 0)
            {
                <div class="col-lg-2">
                    @Html.Partial("~/Views/Organisation/OrganisationCentre/_OrganisationCentreSidePannel.cshtml", Model.OrganisationCentreMasterId.ToString())
                </div>
            }
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="card-title">Organisation Centrewise GST Credential</h4>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div>                   
                        <div class="card-body">
                            @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                            {
                                @Html.HiddenFor(m => m.OrganisationCentrewiseGSTCredentialId)
                                @Html.HiddenFor(m => m.OrganisationCentreMasterId)
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            @Html.LabelFor(x => x.CentreName, new { @class = "form-label " })
                                            @Html.TextBoxFor(x => x.CentreName, new { @class = "form-control", @disabled = "disabled" })
                                            @Html.ValidationMessageFor(x => x.CentreName)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            @Html.LabelFor(x => x.CentreCode, new { @class = "form-label required" })
                                            @Html.TextBoxFor(x => x.CentreCode, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            @Html.LabelFor(x => x.Version, new { @class = "form-label required" })
                                            @Html.TextBoxFor(x => x.Version, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Version)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            @Html.LabelFor(x => x.EInvoiceUserName, new { @class = "form-label required" })
                                            @Html.TextBoxFor(x => x.EInvoiceUserName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.EInvoiceUserName)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            @Html.LabelFor(x => x.EInvoicePassword, new { @class = "form-label required" })
                                            @Html.TextBoxFor(x => x.EInvoicePassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.EInvoicePassword)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            @Html.LabelFor(x => x.Urls, new { @class = "form-label required" })
                                            @Html.TextBoxFor(x => x.Urls, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Urls)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            @Html.LabelFor(x => x.AspId, new { @class = "form-label required" })
                                            @Html.TextBoxFor(x => x.AspId, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.AspId)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            @Html.LabelFor(x => x.AspUserPassword, new { @class = "form-label required" })
                                            @Html.TextBoxFor(x => x.AspUserPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.AspUserPassword)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            @Html.LabelFor(x => x.QrCodeSize, new { @class = "form-label" })
                                            @Html.TextBoxFor(x => x.QrCodeSize, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.QrCodeSize)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            @Html.LabelFor(x => x.AuthToken, new { @class = "form-label" })
                                            @Html.TextBoxFor(x => x.AuthToken, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.AuthToken)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            @Html.LabelFor(x => x.TokenExpiry, new { @class = "form-label" })

                                            @Html.TextBoxFor(x => x.TokenExpiry, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.TokenExpiry)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            @Html.LabelFor(x => x.ClientId, new { @class = "form-label" })
                                            @Html.TextBoxFor(x => x.ClientId, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.ClientId)
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            @Html.LabelFor(x => x.IsLiveMode, new { @class = "form-label" })
                                            <div class="form-check">
                                                @Html.CheckBoxFor(x => x.IsLiveMode, new { @class = "form-check-input" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                                <a href="../@controllerName/List" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                            }
                        </div>                    
                </div>
            </div>
        </div>
    </div>
</div>