 @model ACCGLOpeningBalanceViewModel
@{
    Layout = null;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string css = "";
}
<div class="row">
    <div class="col-sm-12 table-responsive">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
        {
            @Html.HiddenFor(m => m.AccGLOpeningBalanceId)
            @Html.HiddenFor(m => m.AccSetupGLId)
            @Html.HiddenFor(m => m.GeneralFinancialYearModel)
            <table class="table table-bordered table-sm">
                <tbody>
                    @if (Model?.ACCGLOpeningBalanceList?.Count > 0)
                    {
                    <thead>
                        <tr>
                            <th class="text-center">GL Name</th>
                            <th class="text-center">Opening Balance</th>
                            <th class="text-center">Debit / Credit</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                        foreach (var item in Model.ACCGLOpeningBalanceList)
                        {
                        <tr>
                            <td class="text-center">@item.GLName</td>
                            <td class="col-auto">
                                <div>
                                    <input class="form-control form-control-sm text-center opening-balance"
                                           type="text"
                                           value="@item.ClosingBalance"
                                        @(item.ClosingBalance > 0 ? "readonly" : "") />
                                </div>
                            </td>
                            <td class="text-center">
                                    @if (item.DebitCreditEnum == 0)
                                    {
                                    <span style="color: red; font-weight: bold;">Debit</span>
                                    }
                                    else if (item.DebitCreditEnum == 1)
                                    {
                                    <span style="color: green; font-weight: bold;">Credit</span>
                                    }
                            </td>
                            <td class="text-center">
                                <a href="../@controllerName/IndividualOpeningBalance?accSetupBalanceSheetId=@item.AccSetupBalanceSheetId&&userTypeId=@item.UserTypeId&&generalFinancialYearId=@Model.GeneralFinancialYearModel?.GeneralFinancialYearId&&accSetupGLId=@item.AccSetupGLId" title="Update" class="btn btn-sm btn-soft-success btn-circle me-2"><i class="fas fa-edit"></i></a>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>







