 @model ACCGLOpeningBalanceListViewModel
@{
    Layout = null;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string css = "";
}
<div class="row">
    <div class="col-sm-12 table-responsive">
        @using (Html.BeginForm("UpdateNonControlHeadType", controllerName, FormMethod.Post, new { id = "frmAccGLOpeningBalanceDetails" }))
        {
            @Html.HiddenFor(m => m.AccGLOpeningBalanceId)
            @Html.HiddenFor(m => m.AccGLOpeningBalanceData)
            @Html.HiddenFor(m => m.AccSetupGLId)
            @Html.HiddenFor(m => m.IsClosingBalanceUpdated)
            @Html.HiddenFor(m => m.GeneralFinancialYearModel)
            @Html.HiddenFor(m => m.AccSetupCategoryId)
            <table class="table table-bordered table-sm-centre" id="makeEditable">
                <tbody>
                    @if (Model?.ACCGLOpeningBalanceList?.Count > 0)
                    {
                    <thead>
                        <tr>
                            <th>GL Name</th>
                            <th class="text-left">Opening Balance</th>
                            <th class="text-left">Debit / Credit</th>
                        </tr>
                    </thead>
                        foreach (var item in Model.ACCGLOpeningBalanceList)
                        {
                        <tr id="row_@item.AccSetupGLId">
                            <input type="hidden" id="AccSetupGLId_@item.AccSetupGLId" value="@item.AccSetupGLId" />
                            <td>@item.GLName</td>
                            <td class="col-auto">
                                <div>
                                    <input class="form-control form-control-sm text-end opening-balance"
                                           id="OpeningBalance_@item.AccSetupGLId"
                                           name="ACCGLBalanceList[@item.AccSetupGLId].OpeningBalance"
                                           type="text"
                                           value="@item.ClosingBalance"
                                        @(item.OpeningBalance == 0 && item.ClosingBalance > 0 ? "readonly" : "")
                                           onkeypress="return CoditechCommon.ValidNumeric()" />
                                </div>
                            </td>
                            <td class="text-left">
                                    @if (item.DebitCreditEnum == 0)
                                    {
                                    <span style="color: red; font-weight: bold;">Debit</span>
                                    }
                                    else if (item.DebitCreditEnum == 1)
                                    {
                                    <span style="color: green; font-weight: bold;">Credit</span>
                                    }
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
            @if (Model?.ACCGLOpeningBalanceList?.Count > 0)
            {
                <button type="button" class="btn btn-success" onclick="AccGLOpeningBalance.SaveDataDeatils()">@AdminResources.LabelSave</button>
            }
        }
    </div>
</div>
<script src="/js/coditech/Accounts/ACCGLOpeningBalance.js"></script>





