@model MediaModel
@{
    ViewBag.Title = "View File Details";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    UserModel userInfo = SessionHelper.GetDataFromSession<UserModel>(AdminConstants.UserDataSession);

    AdminRoleMediaFolderActionModel adminRoleMediaFolderActionModel = new AdminRoleMediaFolderActionModel();
    if (!userInfo.IsAdminUser)
    {
        if (userInfo?.AdminRoleMediaFolderActionList?.Count > 0)
        {
            adminRoleMediaFolderActionModel = userInfo?.AdminRoleMediaFolderActionList.Where(x => x.AdminRoleMasterId == userInfo.SelectedAdminRoleMasterId).FirstOrDefault();
        }
    }
    else
    {
        adminRoleMediaFolderActionModel = userInfo?.AdminRoleMediaFolderActionList.FirstOrDefault();
    }
    bool isDownloadAllowed = userInfo.IsAdminUser ? true : false;
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <span class="card-title">File Details</span>
                        <a class=" btn btn-sm btn-soft-secondary float-end" href="/MediaManager/index?SelectedParameter1=@Model.MediaFolderMasterId" role="button">
                            <i class="fas fa-arrow-left me-2"></i>Back
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    @if (Model.Type.StartsWith("image"))
                                    {
                                        <img class="card-img-top img-fluid bg-light-alt" src="@Model.Path" style="height:350px; width:100%">
                                        @if (isDownloadAllowed)
                                        {
                                            <div class="d-flex align-items-center" style="position: relative; margin-top: 10px;">
                                                <!-- Download Icon -->
                                                <a href="@Model.Path" download title="Download Image" class="download-icon-link me-3" style="text-decoration: none;">
                                                    <i class="dripicons-download" style="font-size: 24px; color: aqua;"></i>
                                                </a>

                                                <!-- Replace File Button -->
                                                <form asp-action="ReplaceFile" asp-controller="MediaManager" enctype="multipart/form-data" method="post" style="display:inline;">
                                                    <label class="btn btn-sm btn-soft-warning" for="imageUpload" style="margin-bottom: 0;">
                                                        <i class="fas fa-upload me-2"></i>Replace File
                                                    </label>
                                                    <input type="file" id="imageUpload" name="imageFile" style="display: none;" onchange="this.form.submit()" />
                                                    <input type="hidden" name="MediaId" value="@Model.MediaId" />
                                                    <input type="hidden" name="folderId" value="@Model.MediaFolderMasterId" />
                                                </form>
                                            </div>
                                        }
                                    }

                                    else if (Model.Type.StartsWith("video"))
                                    {
                                        <video controls style="width:100%">
                                            <source src="@Model.Path">
                                            Your browser does not support the video tag.
                                        </video>
                                    }
                                    else if (Model.Type.StartsWith("audio"))
                                    {
                                        <audio controls style="width:100%">
                                            <source src="@Model.Path">
                                            Your browser does not support the audio element.
                                        </audio>
                                    }
                                    else
                                    {
                                        <iframe src="@Model.Path" style="height:650px; width:100%"></iframe>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            @Html.Label("", "File Name: ", new { @class = "form-label" })
                                            @Html.DisplayFor(x => x.FileName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            @Html.Label("", "File Size: ", new { @class = "form-label" })
                                            @Html.DisplayFor(x => x.Size, new { @class = "form-control" }) KB
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            @Html.Label("", "File Type: ", new { @class = "form-label" })
                                            @Html.DisplayFor(x => x.Type, new { @class = "form-label" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>