@model InventoryUoMMasterViewModel
@{
    ViewBag.Title = Model.InventoryUoMMasterId > 0 ? "Update Inventory UoM" : "Add Inventory UoM";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();

}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                @if (Model.InventoryUoMMasterId > 0)
                                {
                                    <h4 class="card-title">Update Inventory UoM</h4>
                                }
                                else
                                {
                            <h4 class="card-title">Create Inventory UoM</h4>
                                }
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.InventoryUoMMasterId)
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.UomCode, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.UomCode, new { @class = "form-control", @onkeypress = "return CoditechCommon.AvoidSpacing()" })
                                        @Html.ValidationMessageFor(x => x.UomCode)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.UomDescription, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.UomDescription, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.UomDescription)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.CommercialDescription, new { @class = "form-label" })
                                        @Html.TextBoxFor(x => x.CommercialDescription, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.CommercialDescription)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.GeneralMeasurementUnitMasterId, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
                                    {
                                    DropdownType = DropdownTypeEnum.MeasurementUnit.ToString(),
                                    DropdownName = "GeneralMeasurementUnitMasterId",
                                    DropdownSelectedValue = Model.GeneralMeasurementUnitMasterId
                                    .ToString()
                                    })
                                        @Html.ValidationMessageFor(x => x.GeneralMeasurementUnitMasterId)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.ConvertionFactor, new { @class = "form-label" })
                                        @Html.TextBoxFor(x => x.ConvertionFactor, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.ConvertionFactor)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.AdditiveConstant, new { @class = "form-label" })
                                        @Html.TextBoxFor(x => x.AdditiveConstant, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.AdditiveConstant)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.DecimalPlacesUpto, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.DecimalPlacesUpto, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.DecimalPlacesUpto)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.DecimalRounding, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.DecimalRounding, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.DecimalRounding)
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                            <a href="../@controllerName/List" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
