@using Coditech.Admin.Utilities;
@model DBTMTraineeDetailsCreateEditViewModel
@{
    ViewBag.Title = Model.DBTMTraineeDetailId > 0 ? "Update Trainee" : "Create Trainee";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string css = Model.PersonId > 0 ? "col-lg-10" : "col-lg-12";
    Dictionary<string, string> keyValuePairs = new Dictionary<string, string>();
    keyValuePairs.Add("DBTMTraineeDetailId", Model.DBTMTraineeDetailId.ToString());
    keyValuePairs.Add("PersonId", Model.PersonId.ToString());
    DropdownViewModel centreDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.AccessibleCentre.ToString(), DropdownName = "SelectedCentreCode", DropdownSelectedValue = Model.SelectedCentreCode, ChangeEvent = "", IsDisabled = Model.DBTMTraineeDetailId > 0 };
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            @if (Model.DBTMTraineeDetailId > 0)
            {
                <div class="col-lg-2">
                    @Html.Partial("~/Views/DBTM/DBTMTraineeDetails/_DBTMTraineeDetailsSidePannel.cshtml", keyValuePairs)
                </div>
            }
            <div class="@css">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                @if (Model.DBTMTraineeDetailId > 0)
                                {
                                    <h4 class="card-title"><span>Update Trainee- @Model.FirstName @Model.LastName</span></h4>
                                }
                                else
                                {
                                    <h4 class="card-title">Create Trainee</h4>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.DBTMTraineeDetailId)
                            if (Model.DBTMTraineeDetailId > 0)
                            {
                                @Html.HiddenFor(m => m.SelectedCentreCode)
                            }
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.SelectedCentreCode, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", centreDropdown)
                                        @Html.ValidationMessageFor(x => x.SelectedCentreCode)
                                    </div>
                                </div>
                            </div>
                            @Html.Partial("~/Views/Shared/GeneralPerson/_CreateEditGeneralPerson.cshtml", Model)
                            <a href="../@controllerName/DBTMTraineeDetailsCancel?SelectedCentreCode=@Model.SelectedCentreCode" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


