@model GeneralTrainerViewModel
@{
    ViewBag.Title = Model.GeneralTrainerMasterId > 0 ? "Update Trainer" : "Add Trainer";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    DropdownViewModel centreDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.AccessibleCentre.ToString(), DropdownName = "SelectedCentreCode", DropdownSelectedValue = Model.SelectedCentreCode, ChangeEvent = "CoditechCommon.GetDepartmentByCentreCode()", IsDisabled = Model.GeneralTrainerMasterId > 0 };
    DropdownViewModel departmentDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.CentrewiseDepartment.ToString(), DropdownName = "SelectedDepartmentId", DropdownSelectedValue = Convert.ToString(Model.SelectedDepartmentId), Parameter = Model.SelectedCentreCode, ChangeEvent = "GeneralTrainerMaster.GetEmployeeListByCentreCodeAndDepartmentId()", IsDisabled = Model.GeneralTrainerMasterId > 0 };
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                @if (Model.GeneralTrainerMasterId > 0)
                                {
                                    <h4 class="card-title">Update Trainer Details: @Model.FirstName @Model.LastName</h4>
                                }
                                else
                                {
                                    <h4 class="card-title">Create Trainer</h4>
                                }
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.GeneralTrainerMasterId)
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.SelectedCentreCode, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", centreDropdown)
                                        @Html.ValidationMessageFor(x => x.SelectedCentreCode)
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.SelectedDepartmentId, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", departmentDropdown)
                                        @Html.ValidationMessageFor(x => x.SelectedDepartmentId)
                                    </div>
                                </div>

                                <div class="row">
                                    @if (Model.GeneralTrainerMasterId > 0)
                                    {
                                        @Html.HiddenFor(x => x.EmployeeId)
                                    }
                                    else
                                    {
                                        <div class="col-lg-6">
                                            <div class="md-3">
                                                @Html.LabelFor(x => x.EmployeeId, new { @class = "form-label required" })
                                                @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
                                   {
                                       DropdownType = DropdownTypeEnum.UnAssociatedTrainerEmployeeList.ToString(),
                                       DropdownName = "EmployeeId",
                                       DropdownSelectedValue = Model.EmployeeId
                                        .ToString(),
                                        IsRequired=true,
                                       Parameter = !string.IsNullOrEmpty(Model.SelectedCentreCode) ? $"{Model.SelectedCentreCode}~{Model.SelectedDepartmentId}" : ""

                                   })
                                                @Html.ValidationMessageFor(x => x.EmployeeId)
                                            </div>
                                        </div>
                                    }
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            @Html.LabelFor(x => x.TrainerSpecialization, new { @class = "form-label required " })
                                            @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
                                   {
                                       DropdownSelectedValue = Model.TrainerSpecializationEnumId.ToString(),
                                       DropdownName = "TrainerSpecializationEnumId",
                                       GroupCode = DropdownTypeEnum.TrainerSpecialization.ToString()
                                   })
                                            @Html.ValidationMessageFor(x => x.TrainerSpecializationEnumId)
                                        </div>
                                    </div>

                                    @if (Model.GeneralTrainerMasterId <=0)
                                    {
                                        @Html.HiddenFor(x => x.UniqueCode)
                                    }
                                    else
                                    {
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                @Html.LabelFor(x => x.UniqueCode, new { @class = "form-label" })
                                                @Html.TextBoxFor(x => x.UniqueCode, new { @class = "form-control", @readonly = "true" })
                                                @Html.ValidationMessageFor(x => x.UniqueCode)
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                            <a href="../@controllerName/Cancel?SelectedCentreCode=@Model.SelectedCentreCode&SelectedDepartmentId=@Model.SelectedDepartmentId" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/coditech/General/GeneralTrainerMaster.js"></script>


