@model GeneralTraineeAssociatedToTrainerViewModel
@{
    ViewBag.Title = Model.GeneralTraineeAssociatedToTrainerId > 0 ? "Update Associate Trainer" : "Associate Trainer";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

    string actionName = ViewContext.RouteData.Values["action"].ToString();
    Dictionary<string, string> keyValuePairs = new Dictionary<string, string>();
    keyValuePairs.Add("DBTMTraineeDetailId", Model.DBTMTraineeDetailId.ToString());
    keyValuePairs.Add("PersonId", Model.PersonId.ToString());

    DropdownViewModel centreDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.AccessibleCentre.ToString(), DropdownName = "SelectedCentreCode", DropdownSelectedValue = Model.SelectedCentreCode, ChangeEvent = "CoditechCommon.GetDepartmentByCentreCode()", IsDisabled = Model.GeneralTraineeAssociatedToTrainerId > 0 };
    DropdownViewModel departmentDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.CentrewiseDepartment.ToString(), DropdownName = "SelectedDepartmentId", DropdownSelectedValue = Convert.ToString(Model.SelectedDepartmentId), Parameter = Model.SelectedCentreCode, ChangeEvent = "DBTMTraineeDetails.GetTrainerListByCentreCodeAndDepartmentId()", IsDisabled = Model.GeneralTraineeAssociatedToTrainerId > 0 };
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            
                <div class="col-lg-2">
                @Html.Partial("~/Views/DBTM/DBTMTraineeDetails/_DBTMTraineeDetailsSidePannel.cshtml", keyValuePairs)
                </div>
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                @if (Model.GeneralTraineeAssociatedToTrainerId > 0)
                                {
                                    <h4 class="card-title">Update Associate Trainer Details: @Model.FirstName @Model.LastName</h4>
                                }
                                else
                                {
                                    <h4 class="card-title">Associate Trainer: @Model.FirstName @Model.LastName</h4>
                                }
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.GeneralTraineeAssociatedToTrainerId)
                            @Html.HiddenFor(m => m.PersonId)
                            @Html.HiddenFor(x => x.EntityId)
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.SelectedCentreCode, new { @class = "form-label required"})
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", centreDropdown)
                                        @Html.ValidationMessageFor(x => x.SelectedCentreCode)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.SelectedDepartmentId, new { @class = "form-label required"})
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", departmentDropdown)
                                        @Html.ValidationMessageFor(x => x.SelectedDepartmentId)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="md-3">
                                        @Html.LabelFor(x => x.GeneralTrainerMasterId, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
                               {
                                   DropdownType = DropdownTypeEnum.UnAssociatedTrainerList.ToString(),
                                   DropdownName = "GeneralTrainerMasterId",
                                   DropdownSelectedValue = Model.GeneralTrainerMasterId.ToString(),
                                   Parameter = Model.GeneralTraineeAssociatedToTrainerId == 0
                                    ? $"{Model.SelectedCentreCode}~{0}~{Model.EntityId}~{Model.UserType}~false"
                                    : $"{Model.SelectedCentreCode}~{Model.SelectedDepartmentId}~{Model.EntityId}~{Model.UserType}~true",
                                   IsDisabled = Model.GeneralTraineeAssociatedToTrainerId > 0
                               })
                                        @Html.ValidationMessageFor(x => x.GeneralTrainerMasterId)
                                        @if (Model.GeneralTraineeAssociatedToTrainerId > 0)
                                        {
                                            @Html.HiddenFor(x => x.GeneralTrainerMasterId)
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.IsCurrentTrainer, new { @class = "form-check-label"})
                                        <div class="form-check">
                                            @Html.CheckBoxFor(x => x.IsCurrentTrainer, new { @class = "form-check-input" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                            <a href="../@controllerName/GetAssociatedTrainerList?SelectedParameter1=@Model.EntityId&SelectedParameter2=@Model.PersonId" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Coditech/DBTM/DBTMTraineeDetails.js"></script>


