@model AccSetupBalanceSheetListViewModel
@{
    Layout = null;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
}
<div class="row">
    @Html.Partial("~/Views/Shared/Datatable/_DatatableShowResult.cshtml", Model.PageListViewModel.RecordPerPage)
    @Html.Partial("~/Views/Shared/Datatable/_DatatableSearchData.cshtml", Model.PageListViewModel.SearchBy)
</div>
<div class="row">
    <div class="col-sm-12 table-responsive">
        <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">
            @Html.Partial("~/Views/Shared/Datatable/_DatatableColumns.cshtml", Model.PageListViewModel)
            <tbody>
                @if (Model?.AccSetupBalanceSheetList?.Count > 0)
                {
                    foreach (var item in Model?.AccSetupBalanceSheetList)
                    {
                        <tr>
                            <td>@item.AccBalancesheetHeadDesc</td>
                            <td>@item.AccBalsheetTypeDesc</td>
                            <td>
                                @Html.Partial("~/Views/Shared/Datatable/_DatatableTrueFalse.cshtml", item.IsActive)
                            </td>
                            <td class="text-center">
                                <a href="../@controllerName/Edit?balanceSheetId=@item.AccSetupBalanceSheetId" title="Update" class="btn btn-sm btn-soft-success btn-circle me-2"><i class="fas fa-edit"></i></a>@* <span class="m-2">|</span> *@
                                @* <a href="../@controllerName/Delete?FinancialYearIds=@item.AccSetupMasterId" title="Delete" class="btn btn-sm btn-soft-danger btn-circle"><i class="fas fa-trash-alt"></i></a> *@
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@Html.Partial("~/Views/Shared/Datatable/_DatatablePagination.cshtml", Model.PageListViewModel)
<script src="~/js/coditech/Accounts/AccSetupBalanceSheet.js"></script>
