@model GeneralDepartmentViewModel
@{
    ViewBag.Title = Model.GeneralDepartmentMasterId > 0 ? "Update Department" : "Add Department";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                @if (Model.GeneralDepartmentMasterId > 0)
                                {
                                    <h4 class="card-title">Update Department</h4>
                                }
                                else
                                {
                                    <h4 class="card-title">Create Department</h4>
                                }
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.GeneralDepartmentMasterId)
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.DepartmentName, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.DepartmentName)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.DepartmentShortCode, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.DepartmentShortCode, new { @class = "form-control", onkeypress = "return CoditechCommon.AvoidSpacing()" })
                                        @Html.ValidationMessageFor(x => x.DepartmentShortCode)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.PrintShortDesc, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.PrintShortDesc, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.PrintShortDesc)
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.WorkActivity, new { @class = "form-label" })
                                        <div class="form-check">
                                            @Html.CheckBoxFor(x => x.WorkActivity, new { @class = "form-check-input" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                            <a href="../@controllerName/List" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
