@model DBTMTraineeAssignmentViewModel
@{
    ViewBag.Title = Model.DBTMTraineeAssignmentId > 0 ? "Update DBTM Trainee Assignment" : "Add DBTM Trainee Assignment";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    DropdownViewModel centreDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.AccessibleCentre.ToString(), DropdownName = "SelectedCentreCode", DropdownSelectedValue = Model.SelectedCentreCode, ChangeEvent = $"DBTMTraineeAssignment.GetDBTMTrainerListByCentreCode()", IsDisabled = Model.DBTMTraineeAssignmentId > 0 };
    DropdownViewModel trainerDropdown = new DropdownViewModel() { DropdownType = DropdownCustomTypeEnum.CentrewiseDBTMTrainer.ToString(), DropdownName = "GeneralTrainerMasterId", DropdownSelectedValue = Convert.ToString(Model.GeneralTrainerMasterId), Parameter = Model.SelectedCentreCode, ChangeEvent = $"DBTMTraineeAssignment.GetDBTMTraineeListByCentreCodeAndTrainerMasterId()", IsDisabled = Model.DBTMTraineeAssignmentId > 0, IsCustomDropdown = true };
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                @if (Model.DBTMTraineeAssignmentId > 0)
                                {
                                    <h4 class="card-title">Update DBTM Trainee Assignment </h4>
                                }
                                else
                                {
                                    <h4 class="card-title">Add DBTM Trainee Assignment</h4>
                                }
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.DBTMTraineeAssignmentId)
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.SelectedCentreCode, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", centreDropdown)
                                        @Html.ValidationMessageFor(x => x.SelectedCentreCode)
                                        @if (Model.DBTMTraineeAssignmentId > 0)
                                        {
                                            @Html.HiddenFor(x => x.SelectedCentreCode)
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.GeneralTrainerMasterId, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", trainerDropdown)
                                        @Html.ValidationMessageFor(x => x.GeneralTrainerMasterId)
                                        @if (Model.DBTMTraineeAssignmentId > 0)
                                        {
                                            @Html.HiddenFor(x => x.GeneralTrainerMasterId)
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.DBTMTraineeDetailId, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
                               {
                                   DropdownType = DropdownCustomTypeEnum.TraineeDetailsListByDBTMTrainer.ToString(),
                                   DropdownName = "DBTMTraineeDetailId",
                                   DropdownSelectedValue = Model.DBTMTraineeDetailId
                                    .ToString(),
                                   Parameter = !string.IsNullOrEmpty(Model.SelectedCentreCode) ? $"{Model.SelectedCentreCode}~{Model.GeneralTrainerMasterId}" : "",
                                   IsCustomDropdown = true
                               })
                                        @Html.ValidationMessageFor(x => x.DBTMTraineeDetailId)
                                        @if (Model.DBTMTraineeAssignmentId > 0)
                                        {
                                            @Html.HiddenFor(x => x.DBTMTraineeDetailId)
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.TestName, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
                               {
                                   DropdownType = DropdownCustomTypeEnum.DBTMTest.ToString(),
                                   DropdownName = "DBTMTestMasterId",
                                   DropdownSelectedValue = Model.DBTMTestMasterId
                                    .ToString(),
                                   IsCustomDropdown = true
                               })
                                        @Html.ValidationMessageFor(x => x.DBTMTestMasterId)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.AssignmentDate, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.AssignmentDate, AdminGeneralHelper.DateFormatForTextBox(), new { @class = "form-control", @readonly = "true" })
                                        @Html.ValidationMessageFor(x => x.AssignmentDate)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.AssignmentTime, new { @class = "form-label" })
                                        @Html.TextBoxFor(x => x.AssignmentTime, new { @class = "form-control", type = "time" })
                                        @Html.ValidationMessageFor(x => x.AssignmentTime)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.TestStatus, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", new DropdownViewModel()
                               {
                                   DropdownSelectedValue = Model.DBTMTestStatusEnumId.ToString(),
                                   DropdownName = "DBTMTestStatusEnumId",
                                   GroupCode = DropdownCustomTypeEnum.DBTMTestStatus.ToString()
                               })
                                        @Html.ValidationMessageFor(x => x.DBTMTestStatusEnumId)
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                            <a href="../@controllerName/Cancel?SelectedCentreCode=@Model.SelectedCentreCode&GeneralTrainerMasterId=@Model.GeneralTrainerMasterId" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/coditech/DBTM/DBTMTraineeAssignment.js"></script>

@section scripts {
    <script type="text/javascript">
        $(function () {
            if (@Model.DBTMTraineeAssignmentId == 0) {
                $('#AssignmentDate').val('');
            }
            var today = new Date();
            var oneYearFromNow = new Date();
            oneYearFromNow.setFullYear(today.getFullYear() + 1);

            $("#AssignmentDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "@AdminGeneralHelper.DateFormatForCalendar()",
                language: "en",
                autoSize: true,
                gotoCurrent: true,
                clearBtn: true,
                showButtonPanel: true,
                closeText: 'Clear',
                onClose: function (dateText, inst) {
                    if ($(window.event.srcElement).hasClass('ui-datepicker-close')) {
                        document.getElementById(this.id).value = '';
                    }
                },
                minDate: today,
                maxDate: oneYearFromNow
            });
        });
    </script>
}


































