@model GeneralWhatsAppProviderViewModel
@{
    ViewBag.Title = Model?.GeneralWhatsAppProviderId > 0 ? "Update Sms Provider" : "Add Sms Provider";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                @if (Model.GeneralWhatsAppProviderId > 0)
                                {
                                    <h4 class="card-title">Update WhatsApp Provider</h4>
                                }
                                else
                                {
                                    <h4 class="card-title">Create WhatsApp Provider</h4>
                                }
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.GeneralWhatsAppProviderId)
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.ProviderName, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.ProviderName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.ProviderName)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.ProviderCode, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.ProviderCode, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.ProviderCode)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.IsActive, new { @class = "form-label" })
                                        <div class="form-check">
                                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                            <a href="../@controllerName/List" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
