@model GeneralFinancialYearViewModel
@{
    ViewBag.Title = Model.GeneralFinancialYearId > 0 ? "Update FinancialYear" : "Add FinancialYear";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    DropdownViewModel centreDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.AccessibleCentre.ToString(), DropdownName = "CentreCode", DropdownSelectedValue = Model.CentreCode, IsDisabled = Model.GeneralFinancialYearId > 0 };

}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                @if (Model.GeneralFinancialYearId > 0)
                                {
                                    <h4 class="card-title">Update Financial Year</h4>
                                }
                                else
                                {
                                    <h4 class="card-title">Create Financial Year</h4>
                                }
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.GeneralFinancialYearId)
                            if (Model.GeneralFinancialYearId > 0)
                            {
                                @Html.HiddenFor(m => m.CentreCode)
                            }
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.CentreCode, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", centreDropdown)
                                        @Html.ValidationMessageFor(x => x.CentreCode)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.FromDate, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.FromDate, AdminGeneralHelper.DateFormatForTextBox(), new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(x => x.FromDate)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.ToDate, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.ToDate, AdminGeneralHelper.DateFormatForTextBox(), new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(x => x.ToDate)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.IsYearEnd, new { @class = "form-label" })
                                        <div class="form-check">
                                            @Html.CheckBoxFor(x => x.IsYearEnd, new { @class = "form-check-input" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.IsCurrentFinancialYear, new { @class = "form-label" })
                                        <div class="form-check">
                                            @Html.CheckBoxFor(x => x.IsCurrentFinancialYear, new { @class = "form-check-input" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                            <a href="../@controllerName/Cancel?SelectedCentreCode=@Model.CentreCode" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            function restrictDateRange(datepicker, minDate, maxDate) {
                datepicker.datepicker("option", "minDate", minDate);
                datepicker.datepicker("option", "maxDate", maxDate);
            }

            function updateConstraintsFromFromDate() {
                const fromDate = $("#FromDate").datepicker("getDate");
                if (fromDate) {
                    const minToDate = new Date(fromDate.getFullYear(), 0, 1);
                    const maxToDate = new Date(fromDate.getFullYear() + 4, 11, 31);
                    restrictDateRange($("#ToDate"), minToDate, maxToDate);
                }
            }

            function updateConstraintsFromToDate() {
                const toDate = $("#ToDate").datepicker("getDate");
                if (toDate) {
                    const minFromDate = new Date(toDate.getFullYear() - 4, 0, 1);
                    const maxFromDate = toDate;
                    restrictDateRange($("#FromDate"), minFromDate, maxFromDate);
                }
            }

            // Initialize FromDate datepicker
            $("#FromDate").datepicker({
                changeMonth: true,
                changeYear: true,
                showMonthAfterYear: false,
                dateFormat: "@AdminGeneralHelper.DateFormatForCalendar()",
                autoSize: true,
                showButtonPanel: true,
                closeText: "Clear",
                yearRange: "2024:2027",
                onSelect: function () {
                    updateConstraintsFromFromDate();
                }
            });

            // Initialize ToDate datepicker
            $("#ToDate").datepicker({
                changeMonth: true,
                changeYear: true,
                showMonthAfterYear: false,
                dateFormat: "@AdminGeneralHelper.DateFormatForCalendar()",
                autoSize: true,
                showButtonPanel: true,
                closeText: "Clear",
                yearRange: "2025:2027",
                onSelect: function () {
                    updateConstraintsFromToDate();
                }
            });
        });
    </script>
}