@model GeneralFinancialYearViewModel
@{
    ViewBag.Title = Model.GeneralFinancialYearId > 0 ? "Update FinancialYear" : "Add FinancialYear";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    DropdownViewModel centreDropdown = new DropdownViewModel() { DropdownType = DropdownTypeEnum.AccessibleCentre.ToString(), DropdownName = "CentreCode", DropdownSelectedValue = Model.CentreCode };

}
<!-- Page Content-->
<div class="page-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                @if (Model.GeneralFinancialYearId > 0)
                                {
                                    <h4 class="card-title">Update Financial Year</h4>
                                }
                                else
                                {
                                    <h4 class="card-title">Create Financial Year</h4>
                                }
                            </div><!--end col-->
                        </div>  <!--end row-->
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.GeneralFinancialYearId)
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.CentreCode, new { @class = "form-label required" })
                                        @Html.Partial("~/Views/Shared/Control/_DropdownList.cshtml", centreDropdown)
                                        @Html.ValidationMessageFor(x => x.CentreCode)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.FromDate, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.FromDate, AdminGeneralHelper.DateFormatForTextBox(), new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(x => x.FromDate)
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        @Html.LabelFor(x => x.ToDate, new { @class = "form-label required" })
                                        @Html.TextBoxFor(x => x.ToDate, AdminGeneralHelper.DateFormatForTextBox(), new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(x => x.ToDate)
                                    </div>
                                </div>
                            </div>
                            <div class="row-lg-grow-1">
                                <div class="mb-3">
                                    @Html.LabelFor(x => x.IsCurrentFinancialYear, new { @class = "form-label" })
                                    <div class="form-check">
                                        @Html.CheckBoxFor(x => x.IsCurrentFinancialYear, new { @class = "form-check-input" })
                                    </div>
                                </div>
                            </div>
                            <div class="row-lg-6">
                                <div class="mb-3">
                                    @Html.LabelFor(x => x.IsYearEnd, new { @class = "form-label" })
                                    <div class="form-check">
                                        @Html.CheckBoxFor(x => x.IsYearEnd, new { @class = "form-check-input" })
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">@AdminResources.LabelSave</button>
                            <a href="../@controllerName/List" class="btn btn-secondary"><i class="ft-x"></i>@AdminResources.LabelCancel</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
                $(function () {
            function restrictDateRange(datepicker, minDate, maxDate) {
                datepicker.datepicker("option", "minDate", minDate);
                datepicker.datepicker("option", "maxDate", maxDate);
            }

            function updateConstraintsFromFromDate() {
                const fromDate = $("#FromDate").datepicker("getDate");
                if (fromDate) {
                    const minToDate = fromDate; // ToDate starts from FromDate
                    const maxToDate = new Date(fromDate.getFullYear() + 2, 11, 31); // Up to 2 years after
                    restrictDateRange($("#ToDate"), minToDate, maxToDate);
                } else {
                    resetDatepickers();
                }
            }

            function updateConstraintsFromToDate() {
                const toDate = $("#ToDate").datepicker("getDate");
                if (toDate) {
                    const minFromDate = new Date(toDate.getFullYear() - 2, 0, 1); // Up to 2 years before
                    const maxFromDate = toDate; // FromDate ends at ToDate
                    restrictDateRange($("#FromDate"), minFromDate, maxFromDate);
                } else {
                    resetDatepickers();
                }
            }

            // Initialize FromDate datepicker
            $("#FromDate").datepicker({
                changeMonth: true, // Enable month dropdown
                changeYear: true,  // Enable year dropdown
                showMonthAfterYear: false, // Default layout
                dateFormat: "@AdminGeneralHelper.DateFormatForCalendar()", // Use actual date format
                autoSize: true,
                showButtonPanel: true,
                closeText: "Clear",
                yearRange: "-2:+2", // 2 years before and after today
                onSelect: function () {
                    updateConstraintsFromFromDate();
                },
                beforeShow: function (input, instance) {
                    const toDate = $("#ToDate").datepicker("getDate");
                    if (toDate) {
                        const minFromDate = new Date(toDate.getFullYear() - 2, 0, 1); // Up to 2 years before ToDate
                        instance.settings.minDate = minFromDate;
                        instance.settings.maxDate = toDate; // End at ToDate
                    } else {
                        const today = new Date();
                        instance.settings.minDate = new Date(today.getFullYear() - 2, 0, 1);
                        instance.settings.maxDate = new Date(today.getFullYear() + 2, 11, 31);
                    }
                },
                onClose: function () {
                    if ($(window.event.srcElement).hasClass("ui-datepicker-close")) {
                        $(this).val("");
                        resetDatepickers();
                    }
                }
            });

            // Initialize ToDate datepicker
            $("#ToDate").datepicker({
                changeMonth: true, // Enable month dropdown
                changeYear: true,  // Enable year dropdown
                showMonthAfterYear: false, // Default layout
                dateFormat: "@AdminGeneralHelper.DateFormatForCalendar()", // Use actual date format
                autoSize: true,
                showButtonPanel: true,
                closeText: "Clear",
                yearRange: "-2:+2", // 2 years before and after today
                onSelect: function () {
                    updateConstraintsFromToDate();
                },
                beforeShow: function (input, instance) {
                    const fromDate = $("#FromDate").datepicker("getDate");
                    if (fromDate) {
                        const maxToDate = new Date(fromDate.getFullYear() + 2, 11, 31); // Up to 2 years after FromDate
                        instance.settings.minDate = fromDate; // Start from FromDate
                        instance.settings.maxDate = maxToDate;
                    } else {
                        const today = new Date();
                        instance.settings.minDate = new Date(today.getFullYear() - 2, 0, 1);
                        instance.settings.maxDate = new Date(today.getFullYear() + 2, 11, 31);
                    }
                },
                onClose: function () {
                    if ($(window.event.srcElement).hasClass("ui-datepicker-close")) {
                        $(this).val("");
                        resetDatepickers();
                    }
                }
            });

            // Function to reset constraints on both datepickers
            function resetDatepickers() {
                const today = new Date();
                const minDateFrom = new Date(today.getFullYear() - 2, 0, 1); // 2 years before today
                const maxDateTo = new Date(today.getFullYear() + 2, 11, 31); // 2 years after today

                $("#FromDate").datepicker("option", "minDate", minDateFrom);
                $("#FromDate").datepicker("option", "maxDate", maxDateTo);
                $("#ToDate").datepicker("option", "minDate", minDateFrom);
                $("#ToDate").datepicker("option", "maxDate", maxDateTo);

                // Reset year range relative to today
                $("#FromDate").datepicker("option", "yearRange", "-2:+2");
                $("#ToDate").datepicker("option", "yearRange", "-2:+2");
            }

            // Reset constraints when both fields are cleared
            $("#FromDate, #ToDate").on("change", function () {
                if (!$("#FromDate").val() && !$("#ToDate").val()) {
                    resetDatepickers();
                }
            });

            // Set initial constraints relative to today's date
            resetDatepickers();
        });
    </script>
}